<html xmlns:th="http://www.w3.org/1999/xhtml">
<h2>Hotels</h2>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>check_in</th>
        <th>check_out</th>
        <th>price</th>
        <th>room number</th>
        <th>user</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.checkIn}"></td>
        <td th:text="${reservation.checkOut}"></td>
        <td th:text="${reservation.price}"></td>
        <td th:text="${reservation.room.number}"></td>
        <td th:text="${reservation.user.email}"></td>
        <td><a th:href="@{/reservations/get/{id}(id=${reservation.id})}">Show</a></td>
        <td><a th:href="@{/reservations/update/{id}(id=${reservation.id})}">Edit</a></td>
        <td><a th:href="@{/reservations/remove/{id}(id=${reservation.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <p><a href="/reservations/create">Add a new Reservations</a></p>
</div>
</html>