<html xmlns:th="http://www.w3.org/1999/xhtml">
<form action="#"
      th:action="@{/cities/update/{id}(id=${city.id})}"
      th:object="${city}"
      method="post">
    <label for="id">Id</label>
    <input type="text" disabled th:field="*{id}" id="id" placeholder="Id">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="country.id">countryId</label>
    <input type="text" th:field="*{country.id}" id="country.id" placeholder="Country">
    <span th:if="${#fields.hasErrors('country.id')}" th:errors="*{country.id}"></span>
    <br/>
    <br/>

    <input type="submit" value="Update City">
</form>
</html>